
# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /baptizm.local/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /baptizm.local/index.php [L]
</IfModule>

# END WordPress

## Файл /home/localhost/www/baptizm.local/.htaccess
## 192.168.0.200
# dnwr_ip 192.168.0.200